[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"

[packages]
mecab-python3 = "*"
gensim = "*"
beautifulsoup4 = "*"
requests = "*"

[requires]
python_version = "3.7"
